/* 
all heading, Nav items:
font-family: 'Hammersmith One', sans-serif;
all text:
font-family: 'Miriam Libre', sans-serif !important;


*/

html {

    scroll-behavior: smooth !important;
}

body {
 
    font-family: 'Miriam Libre', sans-serif !important;
    font-weight: normal;
}

a {
    text-decoration: none;
    color: inherit !important;
    transition: 0.08s ease-in-out;
}

.active,a:hover {
    text-decoration: none;
    /* opacity: .5; */
/* font-weight: 600; */
    transition: 0.08s ease-in-out;

}



.bg-purple {
    background-color: #6610f2 !important;
    color: #FFF5F4 !important;
    /* background: linear-gradient(301deg, #6610f2, #9c20f9); */
    background-size: 400% 400%;

    /* -webkit-animation: purplebg 30s ease infinite;
    -moz-animation: purplebg 30s ease infinite;
    animation: purplebg 30s ease infinite;

    @-webkit-keyframes purplebg {
        0% {
            background-position: 0% 9%
        }

        50% {
            background-position: 100% 92%
        }

        100% {
            background-position: 0% 9%
        }
    }

    @-moz-keyframes purplebg {
        0% {
            background-position: 0% 9%
        }

        50% {
            background-position: 100% 92%
        }

        100% {
            background-position: 0% 9%
        }
    }

    @keyframes purplebg {
        0% {
            background-position: 0% 9%
        }

        50% {
            background-position: 100% 92%
        }

        100% {
            background-position: 0% 9%
        }
    } */
}

.bg-pink {
    background-color: #FFADC4 !important;
    color: #f1f1ff !important;
}

.bg-grey {
    background-color: #FFF5F4 !important;
    color: #0f0f6d !important;
    background: linear-gradient(301deg, #696969, #ffffff);
    background-size: 400% 400%;

    -webkit-animation: greybg 30s ease infinite;
    -moz-animation: greybg 30s ease infinite;
    animation: greybg 30s ease infinite;

    @-webkit-keyframes greybg {
        0% {
            background-position: 0% 9%
        }

        50% {
            background-position: 100% 92%
        }

        100% {
            background-position: 0% 9%
        }
    }

    @-moz-keyframes greybg {
        0% {
            background-position: 0% 9%
        }

        50% {
            background-position: 100% 92%
        }

        100% {
            background-position: 0% 9%
        }
    }

    @keyframes greybg {
        0% {
            background-position: 0% 9%
        }

        50% {
            background-position: 100% 92%
        }

        100% {
            background-position: 0% 9%
        }
    }
}

.bg-navyblue {
    background-color: #0f0f6d !important;
    color: #FFF5F4 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Hammersmith One', sans-serif;
}

#logo {
    width: 100%;
    max-width: 150px;
    height: auto;
}

#welcome-section,
#projects,
#contact,#blog-section {
    min-height: 100vh;
}

.nav-item {
    padding: 8px !important;
    margin: 20px !important;
    text-transform: uppercase;
    font-family: 'Hammersmith One', sans-serif !important;
    color: #0f0f6d;
            position: relative;
            /* padding: 20px; */
            box-sizing: border-box;
            cursor: pointer;
            transition: 0.5s;
}

.nav-item:hover {
    color: #ffffff !important;
}

/* before code */
.nav-item:before {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #6610f2;
    z-index: -1;
    transition: transform 0.5s;
    transform: scaleY(0);
    transform-origin: bottom;
    border-radius: 5%;
}


.nav-item:hover:before {
    transition: transform 0.5s;
    transform: scaleY(1);
    transform-origin: top;

}

/* after code */
.nav-item:after {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #6610f2;
    z-index: -2;
    transition: transform 0.5s;
    transform: scaleY(0);
    transform-origin: bottom;
    filter: blur(5px);
    border-radius: 5%;

}


.nav-item:hover:after {
    transition: transform 0.5s;
    transform: scaleY(1);
    transform-origin: top;

}


.aboutme {
    font-size: 1.25em !important;
}


.sociallinks a {
    text-decoration: none !important;
    padding: 20px;
    transition: 1s ease-out;

}

.sociallinks a:hover {
    padding: 20px;
    color: rgb(255, 0, 72) !important;
    transition: 1s ease;
}

.sociallinks {
    margin-top: 4em;
    padding: 24px;
}

.sociallinks i {
    margin: 10px !important;
}

.email {
    text-decoration: underline !important;

}


::selection {
    background: #000000;
    color: #ffffff;
}

.card {


    transition-timing-function: ease-in;
    transition-duration: .3s;


}

.card:hover {
    box-shadow: 1px 3px 10px #00000060 !important;
    transition-timing-function: ease-in;
    transition-duration: .3s;

}



.pt-6 {
    padding-top: 6em !important;
}



#myBtn {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 20px;
    /* Place the button at the bottom of the page */
    right: 30px;
    /* Place the button 30px from the right */
    z-index: 99;
    /* Make sure it does not overlap */
    border: none;
    /* Remove borders */
    outline: none;
    /* Remove outline */
    background-color: #0f0f6d;
    /* Set a background color */
    border-radius: 50%;
    cursor: pointer;
    /* Add a mouse pointer on hover */
    padding: 15px;
    /* Some padding */
    border-radius: 10px;
    /* Rounded corners */
    font-size: 18px;
    /* Increase font size */
    opacity: .8;
    transition: 1s ease;
}

#myBtn:hover {
    background-color: #9c20f9;
    /* Add a dark-grey background on hover */
    transition: 1s ease;
}

.fa-arrow-up:before {
    content: "\f062";
    color: #eaeaea !important;
}

.btn-3 {
    background: red;
    border: 1px solid #4400ff;
 
    font-weight: 900;
    letter-spacing: 1px;
    transition: all 150ms linear;
}


.btn-3:hover {
    background: #ff2701;

    border: 1px solid rgba(#000, 0.05);
    box-shadow: 1px 1px 2px rgba(#fff, 0.2);
    color: #ffffff;
    text-decoration: none;
 
    transition: all 250ms linear;
}

.gr-card-footer {
 
 
    background: #0f0f6d !important;
    color: #ffffff !important;
    text-transform: uppercase;
    border-radius: 0 0 5px 5px;
}

/* Blog page */






/* Media queries */
@media only screen and (max-width:480px) {
    .nav-item {
        padding: 10px !important;
        margin: 0px !important;
    }

    .sociallinks {
        margin-top: 0 !important;
        padding: 24px;
    }

 .aboutme {
     font-size: 1em !important;
 }
    #projects,
    #contact {
        padding-top: 6em !important;
    }

    #blog-section h1 {
font-size: 2em !important;
    }
}

@media only screen and (max-width:320px) {
    .nav-item {
        padding: 5px !important;
        margin: 0px !important;
        font-size: 14px;
    }

    .sociallinks {
        margin-top: 0 !important;
        padding: 20px !important;
    }

    #welcome-section,
    #projects,
    #contact {
        padding-top: 6em !important;
    }
}